[submodule "Calc2_SBMDL2"]
	path = Calc2_SBMDL2
	url = https://github.com/pretendless/Calc2_SBMDL2.git
[submodule "Calc2_SBMDL3"]
	path = Calc2_SBMDL3
	url = https://github.com/pretendless/Calc2_SBMDL3.git
